body {
	background: #8A2387;
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
	background: linear-gradient(to right, #F27121, #E94057, #8A2387);
	overflow: auto;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
	padding: 0;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 15px black;
	z-index: 9999;
}

.nav-link.dropdown-toggle {
	overflow: hidden;
}

.dropdown-menu {
	max-height: 250px;
	overflow-y: scroll;
	min-width: 300px!important;
}


.g-img {
	position: relative;
	bottom: 3px;
	max-width: 30px;
}

.dropdown-item:hover {
	background-color: rgba(0,0,0,0.15)!important;
}

form.form-inline.my-2.my-lg-0.ml-auto {
	flex-flow: unset;
	list-style-type: none;
	max-height: 60px;
	transition: .6s;
}

form.form-inline.my-2.my-lg-0.ml-auto li {
	background-color: inherit;
	transition: .6s;
}

form.form-inline.my-2.my-lg-0.ml-auto li:hover {
	background-color: rgba(0,0,0, 0.2);
	padding: 0;
	height: 100%;
	transition: .6s;
}

form.form-inline.my-2.my-lg-0.ml-auto li a {
	line-height: 3em;
	color: white;
	height: 65px;
	transition: .6s;
}

form.form-inline.my-2.my-lg-0.ml-auto li a:hover {
	text-shadow: 0 0 10px white;
	transition: .6s;
}

div.mx-auto {
	min-height: 65px;
	line-height: 3.5em;
}

.author {
	font-family:"Befolk";
	font-size: 20px;
	color: white;
	min-width: 150px;
	text-align: center;
}

.author:hover {
	background-color: unset!important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.navbar-nav.w-100 li{
	padding: .5rem 1rem;
	transition: .6s;
}

.navbar-nav.w-100 li a:hover {
	text-shadow: 0 0 10px white;
	transition: .6s;
}

.navbar-nav.w-100 li a {
	transition: .6s;
}

.top_button {
	position: fixed;
	text-align: center;
	right: 5em;
	bottom: 5em;
	border:2px solid lightgray;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	overflow: hidden;
	transition: .5s;
	z-index: 9999;
}

.top_button:hover {
	background-color: rgba(192,192,192, 0.6);
	border-color: white;
	transition:.5s;
	box-shadow: 0 0 20px black;
}

.top_button i {
	height: 100%;
	width: 100%;
	font-size: 2.5em;
	color: lightgray;
	padding-top: .4em;
	z-index: 9999;
	transition:.5s;
}

.top_button i:hover {
	color: #fff;
	transition:.5s;
}

/**********************************SHRIFTS**********************************/

.font-link {
	float: right;
	line-height: 1;
	font-size: 1.5rem;
	font-weight: bold;
}


/*******Againts*******/
@font-face {
	font-family: "Againts";
	src: url("fonts/Againts/againts.ttf") format("truetype"), 
	url("fonts/Againts/againts.otf") format("opentype");
}

.againts {
	font-family: "Againts";
	font-size: 50px;
}
.againts.par {
	font-size: 35px;
}

.againts-link {
	font-family: "Againts";
}
/*******Againts*******/

/*******Anisette*******/
@font-face {
	font-family: "Anisette";
	src: url("fonts/Anisette/Anisette Medium.otf") format("opentype");
}

.anis {
	font-family: "Anisette";
	font-size: 50px;
}
.anis.par {
	font-size: 35px;
}

.anis-link {
	font-family: "Anisette";
}
/*******Anisette*******/

/*******Aroly*******/
@font-face {
	font-family: "Aroly";
	src: url("fonts/Aroly/aroly.ttf") format("truetype");
}

.aroly {
	font-family: "Aroly";
	font-size: 50px;
	font-weight: bold;
}
.aroly.par {
	font-size: 35px;
	font-weight: bold;
}

.aroly-link {
	font-family: "Aroly";
}
/*******Aroly*******/

/*******Bahiana*******/
@font-face {
	font-family: "Bahiana";
	src: url("fonts/Bahiana/Bahiana-Regular.ttf") format("truetype");
}

.bahiana {
	font-family: "Bahiana";
	font-size: 50px;
}
.bahiana.par {
	font-size: 35px;
}

.bahiana-link {
	font-family: "Bahiana";
}
/*******Bahiana*******/

/*******Befindisa*******/
@font-face {
	font-family: "Befindisa";
	src: url("fonts/Befindisa/Befindisa.otf") format("opentype"), url("fonts/Befindisa/Befindisa.ttf") format("truetype");
}

.befindisa {
	font-family: "Befindisa";
	font-size: 50px;
}
.befindisa.par {
	font-size: 35px;
}

.befindisa-link {
	font-family: "Befindisa";
}
/*******Befindisa*******/

/*******Befolk Script*******/
@font-face {
	font-family: "Befolk";
	src: url("fonts/Befolk Script/Befolk Script.otf") format("opentype"), url("fonts/Befolk Script/Befolk Script.ttf") format("trruetype");
}

.befolk {
	font-family: "Befolk";
	font-size: 50px;
}
.befolk.par {
	font-size: 35px;
}

.befolk-link {
	font-family: "Befolk";
}
/*******Befolk Script*******/

/*******Bulgary*******/
@font-face {
	font-family: "Bulgary";
	src: url("fonts/Bulgary/BulgaryReg.ttf") format("truetype");
}

.bulgary {
	font-family: "Bulgary";
	font-size: 60px;
	
}
.bulgary.par {
	font-size: 40px;
	
}

.bulgary-link {
	font-family: "Bulgary";
}
/*******Bulgary*******/

/*******Carolus*******/
@font-face {
	font-family: "Carolus";
	src: url("fonts/Carolus/carolus.ttf") format("truetype");
}

.carolus {
	font-family: "Carolus";
	font-size: 60px;
	font-weight: bold;
	
}
.carolus.par {
	font-size: 40px;
	
}

.carolus-link {
	font-family: "Carolus";
}
/*******Carolus*******/

/*******Comix*******/
@font-face {
	font-family: "Comix";
	src: url("fonts/Comix/comix.otf") format("opentype");
}

.comix {
	font-family: "Comix";
	font-size: 60px;
	font-weight: bold;
	
}
.comix.par {
	font-size: 40px;
	
}

.comix-link {
	font-family: "Comix";
}
/*******Comix*******/

/*******Glamora Stencil*******/
@font-face {
	font-family: "Glamora Stencil";
	src: url("fonts/Glamora/Glamora Stencil.otf") format("opentype");
}

.glamora {
	font-family: "Glamora Stencil";
	font-size: 50px;
}
.glamora.par {
	font-size: 35px;
}

.glamora-link {
	font-family: "Glamora Stencil";
}
/*******Glamora Stencil*******/

/*******Grafity 3D*******/
@font-face {
	font-family: "Grafity 3D";
	src: url("fonts/Grafity3D/graf.ttf") format("truetype");
}

.graf {
	font-family: "Grafity 3D";
	font-size: 50px;
}
.graf.par {
	font-size: 35px;
}

.graf-link {
	font-family: "Grafity 3D";
	font-weight: lighter;
}
/*******Grafity 3D*******/

/*******Greeka*******/
@font-face {
	font-family: "Greeka";
	src: url("fonts/Greeka/Greeka.ttf") format("truetype");
}

.greeka {
	font-family: "Greeka";
	font-size: 50px;
}
.greeka.par {
	font-size: 35px;
}

.greeka-link {
	font-family: "Greeka";
	font-weight: lighter;
}
/*******Greeka*******/

/*******JabinTypeface*******/
@font-face {
	font-family: "JabinTypeface";
	src: url("fonts/JabinTypeface/JabinTypeface.ttf") format("truetype");
}

.jabintypeface {
	font-family: "JabinTypeface";
	font-size: 50px;
}
.jabintypeface.par {
	font-size: 35px;
}

.jabintypeface-link {
	font-family: "JabinTypeface";
}
/*******JabinTypeface*******/

/*******King Arthur*******/
@font-face {
	font-family: "King Arthur";
	src: url("fonts/KingArthur/KingArthur.ttf") format("truetype");
}

.kingarthur {
	font-family: "King Arthur";
	font-size: 50px;
}
.kingarthur.par {
	font-size: 35px;
}

.kingarthur-link {
	font-family: "King Arthur";
}
/*******King Arthur*******/

/*******Mafalda*******/
@font-face {
	font-family: "Mafalda";
	src: url("fonts/Mafalda/Mafalda-Light.otf") format("opentype"),
	url("fonts/Mafalda/Mafalda-Normal.otf") format("opentype"),
	url("fonts/Mafalda/Mafalda-Thin.otf") format("opentype");
}

.mafalda {
	font-family: "Mafalda";
	font-size: 50px;
}

.mafalda.par {
	font-size: 35px;
}

.mafalda-link {
	font-family: "Mafalda";
}
/*******Mafalda*******/

/*******Metrica*******/
@font-face {
	font-family: "Metrica";
	src: url("fonts/Metrica/Metrica-Regular.otf") format("opentype");
}

.metrica {
	font-family: "Metrica";
	font-size: 50px;
}
.metrica.par {
	font-size: 35px;
}

.metrica-link {
	font-family: "Metrica";
}


.navbar-brand {
	padding: .5rem 1rem;
}
/*******Metrica*******/

/*******Metropolis*******/
@font-face {
	font-family: "Metropolis";
	src: url("fonts/Metropolis/Metropolis.otf") format("opentype");
}

.metropolis {
	font-family: "Metropolis";
	font-size: 50px;
}
.metropolis.par {
	font-size: 35px;
}

.metropolis-link {
	font-family: "Metropolis";
}
/*******Metropolis*******/

/*******Feathergraphy*******/
@font-face {
	font-family: "Feathergraphy";
	src: url("fonts/Mons Grebeck/feathergraphy.ttf") format("truetype");
}

.feathergraphy {
	font-family: "Feathergraphy";
	font-size: 50px;
}
.feathergraphy.par {
	font-size: 35px;
}

.feathergraphy-link {
	font-family: "Feathergraphy";
}
/*******Feathergraphy*******/

/*******Neoneon*******/
@font-face {
	font-family: "Neoneon";
	src: url("fonts/Neoneon/neoneon.otf") format("opentype");
}

.neoneon {
	font-family: "Neoneon";
	font-size: 50px;
}

.neoneon.par {
	font-size: 35px;
}

.neoneon-link {
	font-family: "Neoneon";
}
/*******Neoneon*******/

/*******NWB*******/
@font-face {
	font-family: "NWB";
	src: url("fonts/NWB/NWB-Regular.otf") format("opentype");
}

.nwb {
	font-family: "NWB";
	font-size: 50px;
}
.nwb.par {
	font-size: 35px;
}

.nwb-link {
	font-family: "nwb";
}
/*******NWB*******/

/*******Patricia*******/
@font-face {
	font-family: "Patricia";
	src: url("fonts/Patricia/patricia.ttf") format("truetype");
}

.patricia {
	font-family: "Patricia";
	font-size: 50px;
}
.patricia.par {
	font-size: 35px;
}

.patricia-link {
	font-family: "Patricia";
}
/*******Patricia*******/

/*******Presto Script Typeface*******/
@font-face {
	font-family: "Presto";
	src: url("fonts/Presto Script Typeface/Presto.otf") format("opentype");
}

.presto {
	font-family: "Presto";
	font-size: 50px;
}
.presto.par {
	font-size: 35px;
}

.presto-link {
	font-family: "Presto";
}
/*******Presto Script Typeface*******/

/*******Sketch*******/
@font-face {
	font-family: "Sketch";
	src: url("fonts/Sketch/sketch.ttf") format("truetype"),
	url("fonts/Sketch/sketch.otf") format("opentype");
}

.sketch {
	font-family: "Sketch";
	font-size: 50px;
}
.sketch.par {
	font-size: 35px;
}

.sketch-link {
	font-family: "Sketch";
	font-weight: lighter;
}
/*******Sketch*******/

/*******Speck Display*******/
@font-face {
	font-family: "Speck Display";
	src: url("fonts/Speck Display/sp.otf") format("opentype");
}

.sp {
	font-family: "Speck Display";
	font-size: 50px;
}
.sp.par {
	font-size: 35px;
}

.sp-link {
	font-family: "Speck Display";
}
/*******Speck Display*******/

/*******Specta Retro*******/
@font-face {
	font-family: "Specta Retro Script";
	src: url("fonts/Specta Retro/Specta Retro Script.ttf") format("truetype"), 
	url("fonts/Specta Retro Script.otf") format("opentype");
}

.specta {
	font-family: "Specta Retro Script";
	font-size: 50px;
}

.specta.par{
	font-size: 35px; 
}

.specta-link {
	font-family: "Specta Retro Script"
}
/*******Specta Retro*******/

/*******Sullivan*******/
@font-face {
	font-family: "Sullivan";
	src: url("fonts/Sullivan/sullivan.otf") format("opentype");
}

.sullivan {
	font-family: "Sullivan";
	font-size: 50px;
}
.sullivan.par {
	font-size: 35px;
}

.sullivan-link {
	font-family: "Sullivan";
	font-weight: lighter;
}
/*******Sullivan*******/

/*******Viking*******/
@font-face {
	font-family: "Viking";
	src: url("fonts/Viking/Viking.ttf") format("truetype");
}

.viking {
	font-family: "Viking";
	font-size: 40px;
}
.viking.par {
	font-size: 25px;
}

.viking-link {
	font-family: "Viking";
}
/*******Viking*******/

/*******Weem*******/
@font-face {
	font-family: "Weem";
	src: url("fonts/Weem/weem.otf") format("opentype");
}

.weem {
	font-family: "Weem";
	font-size: 50px;
}
.weem.par {
	font-size: 35px;
}

.weem-link {
	font-family: "Weem";
}
/*******Weem*******/

/*******Western*******/
@font-face {
	font-family: "Western";
	src: url("fonts/Western/west.otf") format("opentype");
}

.west {
	font-family: "Western";
	font-size: 50px;
}
.west.par {
	font-size: 35px;
}

.west-link {
	font-family: "Western";
	font-weight: lighter;
}
/*******Western*******/

/**********************************SHRIFTS**********************************/
.mx-auto.order-0 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.sec1 {
	text-align: center;
	height: 100vh;
	background:url("images/sec1.png") no-repeat;
	background-size: cover;
	-o-background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
	-ms-background-position: center;
	background-position: center;
	position: relative;
}

.main-text{
	color: white;
	font-family: "Cormorant SC", serif;
	font-size: 50px;
	font-weight:bolder;
	margin: 0;
    position: absolute;               /* 2 */
    top: 52%;                         /* 3 */
    transform: translate(0, -52%);   /* 4 */
	transition: .5s;
}

.main-text.par{
	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #F7971E;
	color: white;
	font-family: "Cormorant SC", serif;
	font-size: 35px;
	font-weight:bolder;
	margin: 0;
    position: absolute;               /* 2 */
    top: 60%;                         /* 3 */
    transform: translate(0, -60%);   /* 4 */
	transition: .5s;
}

.marketing {
	height: 100%;
	background-color: rgba(255,255,255, 0.8);
	box-shadow: 0 0 30px purple,0 0 30px blue,0 0 30px skyblue;
	z-index: 9999;
	transition: .6s;
}

.list-group-item {
	word-wrap: break-word;
}

@media screen and (max-width: 576px) {
	.sec1 .main-text {
		font-size: 40px;
		z-index: 1;
	}

	.main-text.par {
		top: 65%;                         /* 3 */
    	transform: translate(0, -65%);
    	font-size: 35px;
	}

	.marketing {
		background-color: rgba(255,255,255, 0.7);
		box-shadow: 0 0 30px purple,0 0 30px blue,0 0 30px skyblue;
		width: 95%!important;
		transition: .6s;
	}
	.top_button {
		right: 2em;
		bottom: 2em;
		width: 2.5em;
		height: 2.5em;
	}

	.top_button i {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 577px)  and (max-width: 992px) {
	.sec1 .main-text {
		font-size: 50px;
		z-index: 1;
	}

	.main-text.par {
		top: 62%;                         /* 3 */
    	transform: translate(0, -62%);
    	font-size: 35px;
	}
}

@media screen and (min-width: 576px) and (max-width:1158px){
	.top_button {
		right: 3em;
		bottom: 3em;
		width: 3.5em;
		height: 3.5em;
	}

	.top_button i {
		font-size: 1.75em;
	}
}


.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

/*****************************************footer*****************************************/
.col_white_amrc { 
	color:white;
}

footer { 
	width:100%; 
	min-height:1px;
	height: 100%; 
	padding:10px 0px 25px 0px ;
	z-index: 1000;
	font-family: 'Lora', serif;
}
.pt2 { 
	font-family: 'Lora', serif;
	font-size: 22px;
	padding-top:40px ; 
	margin-bottom:20px ;
}

footer p { 
	font-size:18px; 
	color:white; 
	padding-bottom:0px; 
	margin-bottom:8px;
}

.mb10 { 
	padding-bottom:15px ;
}

.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none ; 
	font-size:16px; 
	padding:0px 0px 10px 0px ; 
}

.footer_ul_amrc li {
	padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
	color:lightgray;
	transition: .5s;
}

.footer_ul_amrc li a:hover { 
	color:white; 
	text-decoration:none;
	transition: .5s;
}
.fleft { 
	float:left;
}
.padding-right { 
	padding-right:10px; 
}

.footer_ul2_amrc {
	margin:0px; 
	list-style-type:none; 
	padding:0px;
	font-size: 1.3em;
}

.footer_ul2_amrc li p { 
	display:contents; 
	color:lightgray;
}

.footer_ul2_amrc li a {
	color:lightblue;
}

.footer_ul2_amrc li a:hover { 
	text-decoration:underline;
}

.footer_ul2_amrc li i { 
	margin-top:5px;
	color: white;
	transition: .6s;
}

.footer_ul2_amrc li i:hover {
	color:white;
	transition: .6s;
}

.bottom_border { 
	border-bottom:1px solid white; 
	padding-bottom:20px;
}

.mailto_link, .mailto_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.mailto_link:hover, .mailto_link a:hover {
	color:red;
	text-decoration: unset;
	transition:.5s;
}

.teleg_link, .teleg_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.teleg_link:hover, .teleg_link a:hover {
	color: #0088CC;
	text-decoration: unset;
	transition:.5s;
}

.viber_link, .viber_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.viber_link:hover, .viber_link a:hover {
	color: #675CA8;
	text-decoration: unset;
	transition:.5s;
}

.skype_link, .skype_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.skype_link:hover, .skype_link a:hover {
	color: #00AFF0;
	text-decoration: unset;
	transition:.5s;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li { 
	display:inline;
}

.foote_bottom_ul_amrc li a { 
	color:white; 
	margin:0 12px;
}

.social_footer_ul { 
	display:table; 
	margin:15px auto 0 auto;
	list-style-type:none;  
	padding: 0;
}

.social_footer_ul li {
	display: inline-block; 
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}

.social_footer_ul li i {  
	width:1em; 
	height:1em; 
	text-align:center;
	transition: .6s;
}

.social_footer_ul li a { 
	width: 42px;
	height: 42px;
    line-height: 1.6em;
	color:white; 
	border:1px solid #CCC; 
	padding:8px;
	border-radius:50%;
	transition: .6s;
	display: block;
	margin-bottom: 1em;
	padding-left:12px;
}

.social_footer_ul li a:hover {
	color:white;
	box-shadow: 0 0 20px white;
	transition: .6s;
}